// Primary colors (Nominee used http://chir.ag/projects/name-that-color/)

$fountain-blue: #4fa1c1;
$mercury: #e5e5e5;
$white: #ffffff;

//Other Colors

$blue-ribbon: #0e34ff;
$dove-gray: #707070;

//Shadow

$black-shadow: rgba(0, 0, 0, 0.05);
$black-shadow-squares: rgba(0, 0, 0, 0.25);
