// Primary colors (Nominee used http://chir.ag/projects/name-that-color/)

$fountain-blue: #4fa1c1;
$mercury: #e5e5e5;
$white: #ffffff;

//Other Colors

$blue-ribbon: #0e34ff;
$dove-gray: #707070;
$aqua-haze: #edf1f5;
$mine-shaft: #3a3a3a;
$alto: #dbdbdb;

//Shadow

$black-shadow: rgba(0, 0, 0, 0.05);
$black-shadow-squares: rgba(0, 0, 0, 0.25);
$black-shadow-switch: rgba(0, 0, 0, 0.3);
