@import "./fonts";
@import "./variables";

body {
  font-family: "Ubuntu Regular";

  .ant-layout {
    background-color: $mercury;

    .ant-layout-content {
      display: flex;
      position: absolute;
      top: 225px;
    }
  }
}

@import "./menu-aside.scss";
@import "./header-progress.scss";
@import "./employee-text.scss";
