.ant-layout .ant-layout-header {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  position: absolute;
  height: 159px;
  width: 1252px;
  left: 90px;
  top: 33px;
  padding: 0;
  padding-top: 22px;
  box-shadow: 0 2px 23px $black-shadow;
  border-radius: 20px;

  .progress-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .square-progress {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      margin-bottom: 15px;
      background-color: $fountain-blue;
      border-radius: 20px;
      border: 1px solid $blue-ribbon;
      box-sizing: border-box;
      box-shadow: 0 4px 4px $black-shadow-squares;
    }

    p {
      color: $fountain-blue;
      font-weight: bold;
      line-height: 0;
      text-align: center;
      padding: 5px 0;
    }
  }

  .horizontal-line {
    position: absolute;
    width: 90%;
    height: 1px;
    border-top: 3px dashed $fountain-blue;
    top: 57px;
    left: 69px;
    z-index: 0;
  }
}
